@model WebApplication2.Models.tbl_AmbulanceInfo
@using PagedList.Mvc

@{
    ViewBag.Title = "ambulanceInfoList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title></title>
    @*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script type="text/javascript">

            function DeleteAdvance(pid, that) {
                if (confirm("Do you want to delete the Row: " + pid)) {
                    $.ajax({
                        type: "POST",
                        url: '/Advanced/advancedDelete',
                        data: { id: pid },
                        dataType: "json",
                        success: function () {
                            alert('Deleted Successfully');
                            location = location.href;
                            location.reload();
                        }
                    });
                }
            }
        </script>*@
</head>
<body>
    <h2 style="text-align:center;color:#ff6a00">Ambulance Information List</h2>
    <hr />
    <div class="form-group">
        <div class="btn btn-group btn-sm" style="color: #ff6a00;">
            @Html.ActionLink("Create New", "addAmbulanceInfo")
        </div>
    </div>
    @using (Html.BeginForm("ambulanceInfoList", "AmbulanceInfo", FormMethod.Post))
    {
        <input type="text" name="keyword" />
        <input type="submit" value="Search" name="submit" />
    }
    <br />
    <table id="myDataTable" class="gridtable" style=" width:60%; font-family:Tahoma;font-size:11px ;">
        <thead>
            <tr>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">Ambulance PlateNo</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">Ambulance Catagory</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">Employee Name</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">FreeOrBusy</th>
                <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>

            </tr>
        </thead>
        @foreach (var item in Model.ambulanceInfoListResults)
        {
            <tbody>
                <tr>
                    <td>@item.AmbPlateNo</td>
                    <td>@item.tbl_AmbCatagory.AmbCatName</td>
                    <td>@item.tbl_staffInfo.Name</td>
                    <td>@item.FreeOrBusy</td>
                    <td>
                        @Html.ActionLink("Edit", "ambulanceUpdate", new { id = item.AmbID, userid = @item.tbl_staffInfo.StaffID, amcid = @item.tbl_AmbCatagory.AmbCatagoryID })
                        &nbsp;&nbsp;&nbsp;&nbsp;                      
                        @Html.ActionLink("Delete", "ambulanceDelete", new { id = item.AmbID })
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
        @Html.PagedListPager(Model.ambulanceInfoListResults, page => Url.Action("ambulanceInfoList", new RouteValueDictionary()
    {
        { "Page", page }
    }),
   PagedListRenderOptions.PageNumbersOnly)
    </div>
</body>
</html>


