@model WebApplication2.Models.tbl_MedicineSupplierInfo

@{
    ViewBag.Title = "addMsupplierinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Medicine Supplier Information</h2>
        <hr />
        @using (Html.BeginForm("addMsupplierinfo", "MedicineSupplierInfo", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(s => s.MediSupplyerName, " CompanyName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.MediSupplyerName, new { id = "MediSupplyerName", @class = "form-control", placeholder = "Input MediSupplyerName", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.ComAddress, " CompanyAddress", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(u => u.ComAddress, new { id = "ComAddress", @class = "form-control", placeholder = "Input ComAddress", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.ComMobNo, " CompanyMobNo", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.ComMobNo, new { id = "ComMobNo", @class = "form-control", placeholder = "Input ComMobNo", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.ContractPerson, " ContractPerson", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.ContractPerson, new { id = "ContractPerson", @class = "form-control", placeholder = "Input ContractPerson", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.ContractPersMobNo, " ContractPersMobNo", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.ContractPersMobNo, new { id = "ContractPersMobNo", @class = "form-control", placeholder = "Input ContractPersMobNo", Required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(s => s.Email, "Company Email", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Email, new { id = "Email", @class = "form-control", placeholder = "Input Email", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Remarks, " Remarks", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(u => u.Remarks, new { id = "Remarks", @class = "form-control", placeholder = "Input Remarks", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </div>
                            <h4>@Html.ActionLink("Back To List", "medicineSupplierList")</h4>
                            <div class="col-sm-6">
                                <div id="SaleItems result_area">
                                    <div class="CSSTableGenerator">
                                        <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>