@model WebApplication2.Models.tbl_MedicineSupplierInfo
@using PagedList.Mvc
@{
    ViewBag.Title = "medicineSupplierList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div style="padding-top:30px;">
        <h2 style="text-align:center;color:#ff6a00">Medicine Supplier List</h2>
        <hr />
        <h4>@Html.ActionLink("Create New", "addMsupplierinfo")</h4>
        @using (Html.BeginForm("medicineSupplierList", "MedicineSupplierInfo", FormMethod.Post))
        {
            <input type="text" name="keyword" />
            <input type="submit" value="Search" name="Submit">
        }
        <hr />
        <table id="myDataTable" class="gridtable" style=" width:80%; font-family:Tahoma;font-size:11px ;">
            <thead>
                <tr>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">MedicineSupplyerName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">CompanyMobNo</th>
                    <th style="border-right-color: ActiveBorder; background-color: #dedede">ContactPerson</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">ContactPersMobNo</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">CompanyEmail</th>
                    <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>
                </tr>
            </thead>
            @foreach (var item in Model.medicineSupplierListResults)
            {
                <tbody>
                    <tr>
                        <td>@item.MediSupplyerName</td>
                        <td>@item.ComMobNo</td>
                        <td>@item.ContractPerson</td>
                        <td>@item.ContractPersMobNo</td>
                        <td>@item.Email</td>
                        @*<td>@item.Quantity</td>*@
                        <td>
                            @Html.ActionLink("Edit", "medicineSupplierUpdate", new { id = item.MediSupplyerID })
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Delete", "medicinSupplierDelete", new { id = item.MediSupplyerID })
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.medicineSupplierListResults, page => Url.Action("medicineSupplierList", new RouteValueDictionary()
    {
        { "Page", page }
    }),
   PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>
</body>
</html>