@model WebApplication2.Models.Tbl_IndorPatientLabTest

@{
    ViewBag.Title = "addIndorPationtLabTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Indoor Pationt LabTest</h2>
        <hr />
        @using (Html.BeginForm("addIndorPationtLabTest", "IndorPatientLabTest", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(s => s.PatientID, "PatientName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("PatientID", (SelectList)ViewData["tbl_PatientInfo"], "...Select patientName...", new { @class = "form-control", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.LabID, "LabName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("LabID", (SelectList)ViewData["tbl_LabInfo"], "...Select labName...", new { @class = "form-control", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Purpose, " Purpose", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(u => u.Purpose, new { id = "Purpose", @class = "form-control", placeholder = "Input Purpose", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Result, " Result", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(u => u.Result, new { id = "Result", @class = "form-control", placeholder = "Input Result", Required = "required" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(s => s.UserID, "UserName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("UserID", (SelectList)ViewData["tbl_UserInfo"], "...Select StaffName...", new { @class = "form-control", Required = "required" })
                                </div>
                            </div>*@
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-group btn-sm" style="color: #ff6a00;">
                                    @Html.ActionLink("Back To List", "indorpatientlabtestLists")
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div id="SaleItems result_area">
                                    <div class="CSSTableGenerator">
                                        <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
