@model WebApplication2.Models.Tbl_IndorPatientLabTest
@using PagedList.Mvc

@{
    ViewBag.Title = "indorpatientlabtestLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00;">Indoor Patient Labtest List</h2>
        <hr />
        <div class="form-group">
            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                @Html.ActionLink("Create New", "addIndorPationtLabTest")
            </div>
        </div>
        @using (Html.BeginForm("indorpatientlabtestLists", "IndorPatientLabTest", FormMethod.Post))
        {
            <input type="text" name="keyword" />
            <input type="submit" name="submit" value="Search" />
        }
        <br />
        <table id="myDataTable" class="gridtable" style=" width:60%; font-family:Tahoma;font-size:11px ;">
            <thead>
                <tr>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">PatientName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">LabName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">Purpose</th>    
                    <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>
               
                </tr>
                </thead>
                @foreach (var item in Model.indorpatientlabtestListsResults)
                {
                    <tbody>
                    <tr>
                        <td>@item.tbl_PatientInfo.PatientName</td>
                        <td>@item.tbl_LabInfo.LabName</td>
                        <td>@item.Purpose</td>
                        <td>
                            @Html.ActionLink("Edit", "indorpatientlabtestUpdate", new { id = item.LabTestID,userid=@item.tbl_PatientInfo.PatientID,labid=@item.tbl_LabInfo.LabID})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Delete", "indorpatientlabtestDelete", new { id = item.LabTestID })
                        </td>
                    </tr>
                  </tbody>
                }

        </table>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.indorpatientlabtestListsResults, page => Url.Action("indorpatientlabtestLists", new RouteValueDictionary()
    {
        { "Page", page }
    }),
   PagedListRenderOptions.PageNumbersOnly)
        </div>

    </div>
</body>
</html>