@model WebApplication2.Models.tbl_Attendance

@{
    ViewBag.Title = "addAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Add Attendance</h2>
        <hr />
        @using (Html.BeginForm("addAttendance", "Attendanc", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(s => s.StaffID, " Employee", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("StaffID", (SelectList)ViewData["tbl_staffInfo"], "[Select Employee]", new { Value = 0, id = "Name", @class = "DropDownList" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.EmployeeAttendance, " Attendance", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <select id="EmployeeAttendance" name="EmployeeAttendance">
                                        <option>Select Attendance</option>
                                        <option value="1">Present</option>
                                        <option value="0">Absent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Sift, " Shift", new { @class = "control-label col-sm-2" })
                                <div class="col-md-4">
                                    @Html.RadioButtonFor(u => u.Sift, "Day")
                                    @Html.Label("Day") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButtonFor(s => s.Sift, "Night")
                                    @Html.Label("Night")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.OverTime, " OverTime", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.OverTime, new { @class = "textbox", @placeholder = "Input OverTime", id = "OverTime" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Remarks, " Remarks", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "textbox", @placeholder = "Input Remarks", id = "Remarks" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.UserID, " UserEmployee", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("UserID", (SelectList)ViewData["tbl_UserInfo"], "[Select UserEmployee]", new { Value = 0, id = "UserName", @class = "DropDownList" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Add Create" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                                    @Html.ActionLink("Back To List", "attendanceList")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="SaleItems result_area">
                            <div class="CSSTableGenerator">
                                <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>





