@model WebApplication2.Models.tbl_AppointmentSchedule
@using PagedList.Mvc
@{
    ViewBag.Title = "appointmentScheduleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    <script type="text/javascript">
        function report(id) {
            var item = id;
            //alert(item);
            strOpen = "/Reports/rptAppointmentSchedule.aspx?StaffId=" + item;
            PopUpObj = window.open(strOpen, '_new', "height=800, width=1200, status=yes, toolbar=no, menubar=no, location=no,resizable=no");
            PopUpObj.focus();
        }
    </script>

</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Appointment Schedule List</h2>
        <hr />
        <div class="form-group">
            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                @Html.ActionLink("Create New", "addAppointmentSchedule")
            </div>
           
        </div>
        @using (Html.BeginForm("appointmentScheduleList", "AppointmentSchedule", FormMethod.Post))
        {
            <input type="text" name="keyword" />
            <input type="submit" value="Submit" name="Serch">
        }
        <br />
        <table id="myDataTable" class="gridtable" style=" width:60%; font-family:Tahoma;font-size:11px ;">
            <thead>
                <tr>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">EmployeeName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">PatientName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">MobNo</th>
                    <th style="border-right-color: ActiveBorder; background-color: #dedede">RoomNo</th>
                    <th style="border-right-color: ActiveBorder; background-color: #dedede">SerialNo</th>
                    <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>
                </tr>
            </thead>
            @foreach (var item in Model.appointmentScheduleListResults)
            {
                <tbody>
                    <tr>
                        <td>@item.tbl_staffInfo.Name</td>
                        <td>@item.PatientName</td>
                        <td>@item.MobNo</td>
                        <td>@item.RoomNo</td>
                        <td>@item.SerialNo</td>
                        <td>
                            @Html.ActionLink("Edit", "appointmentScheduleUpdate", new { id = item.AppSchedulID, userid = @item.tbl_staffInfo.StaffID })
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Delete", "appointmentScheduleDelete", new { id = item.AppSchedulID })
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" value="Report" name="report" onclick="report(@item.tbl_staffInfo.StaffID );">
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.appointmentScheduleListResults, page => Url.Action("appointmentScheduleList", new RouteValueDictionary()
           {
             { "Page", page }
           }),
        PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>
</body>
</html>