@model WebApplication2.Models.tbl_PationRoomInformation
@using PagedList.Mvc

@{
    ViewBag.Title = "pationRoomInformationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div style="padding-top:30px;">
        <h2 style="color:#ff6a00;text-align:center;">Patient Room Information List</h2>
        <hr />
        <div class="form-group">
            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                @Html.ActionLink("Create New", "addPatientRoomInformation")
            </div>
        </div>
        @using (Html.BeginForm("pationRoomInformationList", "PatienRoomInformation", FormMethod.Post))
        {
            <input type="text" name="keyword" />
            <input type="submit" value="Submit" name="Search">
        }
        <br />
        <table id="myDataTable" class="gridtable" style=" width:100%; font-family:Tahoma;font-size:11px ;">
            <thead>
                <tr>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">PatientRoomNo</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">RoomCatagoryName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">RoomTypeName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">FloorNo</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">Amount</th>
                    <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>
                </tr>
            </thead>
            @foreach (var item in Model.pationRoomInformationListResults)
            {
                <tbody>
                    <tr>
                        <td>@item.ProomNo</td>
                        <td>@item.tbl_RoomCatagory.CategoryName</td>
                        <td>@item.tbl_RoomType.RoomTypeName</td>
                        <td>@item.FloorNo</td>
                        <td>@item.Amount</td>
                        <td>
                            @Html.ActionLink("Edit", "patientRoomInfoUpdate", new { id = item.PRoomID, romcategoryid = @item.tbl_RoomCatagory.CategorayID, roomtypeid = @item.tbl_RoomType.RoomTypeID })

                            @Html.ActionLink("Delete", "patientRoomDelete", new { id = item.PRoomID })
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.pationRoomInformationListResults, page => Url.Action("pationRoomInformationList", new RouteValueDictionary()
            {
            { "Page", page }
           }),
           PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>

</body>
</html>