@model WebApplication2.Models.tbl_DoctorDuty
@using PagedList.Mvc
@{
    ViewBag.Title = "doctorDutyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Doctor Duty List</h2>
        <hr />
        <div class="form-group">
            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                @Html.ActionLink("Create New", "addDoctorDuty")
            </div>
        </div>
        @using (Html.BeginForm("doctorDutyList", "DoctorDuty", FormMethod.Post))
        {
            <input type="text" name="keyword" />
            <input type="submit" value="Search" name="Submit">
        }
        <table id="myDataTable" class="gridtable" style=" width:60%; font-family:Tahoma;font-size:11px ;">
            <thead>
                <tr>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">Doctor Name</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">Shift</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">VisitTime</th>
                    <th style="border-right-color: ActiveBorder; background-color: #dedede">OperationSchedule</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">OperationTime</th>
                    <th style="border-right-color: ActiveBorder; background-color: #dedede">OperationDescription</th>           
                    <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>
                   
                </tr>
                </thead>
                @foreach (var item in Model.doctorDutyListResults)
                  {
                        <tbody>
                           <tr>
                             <td>@item.tbl_staffInfo.Name</td>
                             <td>@item.Shift</td>
                             <td>@item.VisitTime</td>
                             <td>@item.OperationSchedule</td>
                             <td>@item.OperationTime</td>
                             <td>@item.OperationDescription</td>
                             <td>
                             @Html.ActionLink("Edit", "doctordutyUpdate", new { id = item.DoctorDutyID,staffid=@item.tbl_staffInfo.StaffID })
                                 &nbsp;&nbsp;&nbsp;&nbsp;
                           @Html.ActionLink("Delete", "doctorDutyDelete", new { id = item.DoctorDutyID })
                            </td>
                          </tr>
                      </tbody>
                  }

        </table>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.doctorDutyListResults, page => Url.Action("doctorDutyList", new RouteValueDictionary()
    {
        { "Page", page }
    }),
   PagedListRenderOptions.PageNumbersOnly)
        </div>

    </div>

</body>
</html>