@model WebApplication2.Models.tbl_NurseDuty
@using PagedList.Mvc

@{
    ViewBag.Title = "nurseDutyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Nurse Duty List</h2>
        <hr />
        <div class="form-group">
            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                @Html.ActionLink("Create New", "addNurseDuty")
            </div>
        </div>
        @using (Html.BeginForm("nurseDutyList", "NurseDuty", FormMethod.Post))
        {
            <input type="text" name="keyword" />
            <input type="submit" value="Submit" name="Search">
        }
        <table id="myDataTable" class="gridtable" style=" width:50%; font-family:Tahoma;font-size:11px ;">
            <thead>
                <tr>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">EmployeeName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">SectionName</th>
                    <th style="border-right-color:ActiveBorder;background-color:#dedede">RoomNo</th>
                    <th style="border-right-color: ActiveBorder; background-color: #dedede">Shift</th>
                    <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>                  
                </tr>
                </thead>
                @foreach (var item in Model.nurseDutyListResults)
                {    
                    <tbody> 
                    <tr>
                        <td>@item.tbl_staffInfo.Name</td>
                        <td>@item.tbe_NurseSectionType.SectionName</td>
                        <td>@item.RoomNo</td>
                        <td>@item.Shift</td>
                        <td>
                            @Html.ActionLink("Edit", "nursedutyUpdate", new { id = item.NurseDutyID ,staffid=@item.tbl_staffInfo.StaffID,nursesectionid=@item.tbe_NurseSectionType.SectionID})
                            &nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Delete", "nursedutyDelete", new { id = item.NurseDutyID })
                        </td>
                    </tr>
                        </tbody>
                }

        </table>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.nurseDutyListResults, page => Url.Action("nurseDutyList", new RouteValueDictionary()
    {
        { "Page", page }
    }),
   PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>
</body>
</html>