@model WebApplication2.Models.tbl_NurseDuty

@{
    ViewBag.Title = "nursedutyUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"> </script>
    <script>
        $(document).ready(function () {
            var x = "@this.Request.QueryString["staffid"]";

            $("#StaffID option").each(function () {
                if ($(this).val() == x) {
                    $(this).attr('selected', 'selected');
                }
            });
        });
        $(document).ready(function () {
            var x = "@this.Request.QueryString["nursesectionid"]";
            $("#SectionID option").each(function () {
                if ($(this).val() == x) {
                    $(this).attr('selected', 'selected');
                }
            });
        });

    </script>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Nurse Duty Update</h2>
        <hr />
        <h4 style="color:#ff6a00">@ViewBag.Messages</h4>
        @using (Html.BeginForm("nursedutyUpdate", "NurseDuty", FormMethod.Post))
          {
             <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                              <div class="form-group">
                                     @Html.LabelFor(s => s.StaffID, "Employee", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                      @Html.DropDownList("StaffID", (SelectList)ViewData["tbl_staffInfo"], "...Select StaffName...", new { @class = "form-control" })
                                  </div>
                                 </div>
                                  <div class="form-group">
                                       @Html.LabelFor(s => s.SectionID, "NurseSectionType", new { @class = "control-label col-md-2" })
                                   <div class="col-md-10">
                                       @Html.DropDownList("SectionID", (SelectList)ViewData["tbe_NurseSectionType"], "...Select NurseSectionType...", new { @class = "form-control" })
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    @Html.LabelFor(s => s.RoomNo, " RoomNo", new { @class = "control-label col-md-2" })
                                     <div class="col-md-10">
                                    @Html.TextBoxFor(u => u.RoomNo, new { id = "RoomNo", @class = "form-control", placeholder = "Input RoomNo", Required = "required" })
                                   </div>
                                 </div>
                                 <div class="form-group">
                                   @Html.LabelFor(s => s.Shift, " Shift", new { @class = "control-label col-md-2" })
                                   <div class="col-md-4">
                                    @Html.RadioButtonFor(u => u.Shift, "Day")
                                    @Html.Label("Day") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButtonFor(s => s.Shift, "Evening")
                                    @Html.Label("Evening")
                                 </div>
                                  </div>
                                  <div class="form-group">
                                  <div class="col-md-offset-4 col-md-10">
                                  <input type="submit" class="btn btn-primary" value="Add To Create" />
                                 </div>
                                  </div>
                                  <div class="form-group">
                                 <div class="btn btn-group btn-sm" style="color: #ff6a00;">
                                  @Html.ActionLink("Back To List", "nurseDutyList")
                                  </div>
                            </div>
                         </div>
                       </div>
                     </div>
                </div>
               }
         </div>
      </body>
   </html>