@model WebApplication2.Models.tbl_IndorBloodSalesVoucher
@using PagedList.Mvc

@{
    ViewBag.Title = "indorBloodsalesLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>

</head>
<body>
    <h2 style="text-align:center;color:#ff6a00;">Indor Blood Sales</h2>
    <hr />
    @using (Html.BeginForm("indorBloodsalesLists", "IndorBloodSalesVoucher", FormMethod.Post))
    {
        <input type="text" name="keyword" />
        <input type="submit" value="Search" name="Submit">
    }
    <br />
    <table id="myDataTable" class="gridtable" style=" width:80%; font-family:Tahoma;font-size:15px ;">
        <thead>
            <tr>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">IndorBloodsalesNo</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">BuyerName</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">GrandTotalAmount</th>
                <th style="border-right-color: ActiveBorder; background-color: #dedede">PayAmount</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">DeuAmount</th>
                <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>

            </tr>
        </thead>
        @foreach (var item in Model.indorBloodsalesListsResults)
        {
            <tbody>
                <tr>
                    <td>@item.IndorBloodsalesVoucherNo</td>
                    <td>@item.BuyerName</td>
                    <td>@item.GrandTotalAmount</td>
                    <td>@item.PayAmount</td>
                    <td>@item.DeuAmount</td>
                    <td>
                        <a href="IndoorBloodSalesEdit?IndorBloodsalesVoucherNo=@item.IndorBloodsalesVoucherNo">Edit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="Delete?IndorBloodsalesVoucherNo=@item.IndorBloodsalesVoucherNo">Delete</a>
                    </td>


                </tr>
            </tbody>
        }
    </table>
    <div id="listpage" style="padding-left: 22px; padding-top:10px; width: 85%; float: left;">
        @Html.PagedListPager(Model.indorBloodsalesListsResults, page => Url.Action("indorBloodsalesLists", new RouteValueDictionary()
    {
        { "Page", page }
    }),
   PagedListRenderOptions.PageNumbersOnly)
    </div>

</body>
</html>

