@model WebApplication2.Models.tbl_PatientInfo
@using PagedList.Mvc

@{
    ViewBag.Title = "patientInfoList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>

    <div>
        <h2 style="text-align:center;color:#ff6a00;">Patient Information List</h2>
        <hr />
        <div class="form-group">
            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                @Html.ActionLink("Creat New", "addPatientInfo")
            </div>
            @using (Html.BeginForm("patientInfoList", "PatientInfo", FormMethod.Post))
            {
                <input type="text" name="keyword" />
                <input type="submit" value="Submit" name="Search">
            }
            <br />
            <table id="myDataTable" class="gridtable" style=" width:100%; font-family:Tahoma;font-size:11px ;">
                <thead>
                    <tr>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">PatientName</th>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">Gender</th>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">Disease</th>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">ReferenceName</th>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">GardianName</th>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">PatientroomNo</th>
                        <th style="border-right-color:ActiveBorder;background-color:#dedede">Action</th>

                    </tr>
                </thead>
                @foreach (var item in Model.patientInfoListResult)
                {
                    <tbody>
                        <tr>
                            <td>@item.PatientName</td>
                            <td>@item.Gender</td>
                            <td>@item.Disease</td>
                            <td>@item.tbl_Referenceinfo.ReferenceName</td>
                            <td>@item.Gardian</td>
                            <td>@item.tbl_PationRoomInformation.ProomNo</td>
                            <td>
                                @Html.ActionLink("Edit", "patientInfoUpdate", new { id = item.PatientID, userid = @item.tbl_PationRoomInformation.PRoomID, referencid = @item.tbl_Referenceinfo.ReferenceID })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.ActionLink("Delete", "patientInfoDelete", new { id = item.PatientID })
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
            @Html.PagedListPager(Model.patientInfoListResult, page => Url.Action("patientInfoList", new RouteValueDictionary()
              {
                 { "Page", page }
              }),
                PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>
</body>
</html>