@model WebApplication2.Models.tbl_PatientInfo

@{
    ViewBag.Title = "patientInfoUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"> </script>
    <script>
        $(document).ready(function () {
            var x = "@this.Request.QueryString["userid"]";
            $("#PRoomID option").each(function () {
                if ($(this).val() == x) {
                    $(this).attr('selected', 'selected');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var x = "@this.Request.QueryString["referencid"]";
            $("#ReferenceID option").each(function () {
                if ($(this).val() == x) {
                    $(this).attr('selected', 'selected');
                }
            });
        });
    </script>

</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00;">Patient Information Update</h2>
        <hr />
        <h4 style="color:#ff6a00;">@ViewBag.Message</h4>
        @using (Html.BeginForm("patientInfoUpdate", "PatientInfo", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(s => s.PatientName, " PatientName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.PatientName, new { id = "PatientName", @class = "form-control", placeholder = "Input PatientName", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Gender, " Gender", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.RadioButtonFor(u => u.Gender, "Male")
                                    @Html.Label("Male") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButtonFor(u => u.Gender, "Female")
                                    @Html.Label("Female")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Disease, " Disease", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Disease, new { id = "Disease", @class = "form-control", placeholder = "Input Disease", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.ReferenceID, "ReferenceName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("ReferenceID", (SelectList)ViewData["tbl_Referenceinfo"], "...Select ReferenceName...", new { @class = "form-control", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Gardian, " GardianName", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Gardian, new { id = "Gardian", @class = "form-control", placeholder = "Input Gardian", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.PRoomID, "PatientRoomNo", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("PRoomID", (SelectList)ViewData["tbl_PationRoomInformation"], "...Select patientRoomNo...", new { @class = "form-control", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Update" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-group btn-sm" style="color: #ff6a00;">
                                    @Html.ActionLink("Back To List", "patientInfoList")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>

