@model WebApplication2.Models.tbl_Referenceinfo
@using PagedList.Mvc

@{
    ViewBag.Title = "referenceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
</head>
<body>
    @*<div style="padding-top:30px;">*@
    <h2 style="color:#ff6a00;text-align:center">Reference List</h2>
    <hr />
    <h3 style="color:#ff6a00">@Html.ActionLink("Create New", "addReferenceInfo")</h3>
    @using (Html.BeginForm("referenceList", "ReferenceInfo", FormMethod.Post))
    {
        <input type="text" name="keyword" />
        <input type="submit" value="Submit" name="Search">
    }
    <br />
    <table id="myDataTable" class="gridtable" style=" width:100%; font-family:Tahoma;font-size:11px ;">
        <thead>
            <tr>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">ReferencerName</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">Address</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">MobNo</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">AgreementInfo</th>
                <th style="border-right-color: ActiveBorder; background-color: #dedede">Action</th>
            </tr>
        </thead>
        @foreach (var item in Model.referenceListResults)
        {
            <tbody>
                <tr>
                    <td>@item.ReferenceName</td>
                    <td>@item.Address</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.AgreementInfo</td>
                    <td>
                        @Html.ActionLink("Edit", "referenceUpdate", new { id = item.ReferenceID })
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Delete", "referenceDelete", new { id = item.ReferenceID })
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <div id="listpage" style="padding-left: 22px; width: 85%; float: left;">
        @Html.PagedListPager(Model.referenceListResults, page => Url.Action("referenceList", new RouteValueDictionary()
                    {
                       { "Page", page }
                        }),
                            PagedListRenderOptions.PageNumbersOnly)
    </div>
    @*</div>*@
</body>
</html>
