@{
    ViewBag.Title = "addIndorMedicinePurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <style>
        .CSSTableGenerator {
            border: 1px solid #000000;
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .CSSTableGenerator table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
            }

            .CSSTableGenerator tr:last-child td:last-child {
                -moz-border-radius-bottomright: 0px;
                -webkit-border-bottom-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .CSSTableGenerator table tr:first-child td:first-child {
                -moz-border-radius-topleft: 0px;
                -webkit-border-top-left-radius: 0px;
                border-top-left-radius: 0px;
            }

            .CSSTableGenerator table tr:first-child td:last-child {
                -moz-border-radius-topright: 0px;
                -webkit-border-top-right-radius: 0px;
                border-top-right-radius: 0px;
            }

            .CSSTableGenerator tr:last-child td:first-child {
                -moz-border-radius-bottomleft: 0px;
                -webkit-border-bottom-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .CSSTableGenerator tr:hover td {
            }

            .CSSTableGenerator tr:nth-child(odd) {
                background-color: #aad4ff;
            }

            .CSSTableGenerator tr:nth-child(even) {
                background-color: #ffffff;
            }

            .CSSTableGenerator td {
                vertical-align: middle;
                border: 1px solid #000000;
                border-width: 0px 1px 1px 0px;
                text-align: center;
                padding: 2px;
                font-size: 10px;
                font-family: Arial;
                font-weight: normal;
                color: #000000;
            }

            .CSSTableGenerator tr:last-child td {
                border-width: 0px 1px 0px 0px;
            }

            .CSSTableGenerator tr td:last-child {
                border-width: 0px 0px 1px 0px;
            }

            .CSSTableGenerator tr:last-child td:last-child {
                border-width: 0px 0px 0px 0px;
            }

            .CSSTableGenerator tr:first-child td {
                background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
                background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
                background: -o-linear-gradient(top,#005fbf,003f7f);
                background-color: #005fbf;
                border: 0px solid #000000;
                text-align: center;
                border-width: 0px 0px 1px 1px;
                font-size: 11px;
                font-family: Arial;
                font-weight: bold;
                color: #ffffff;
            }

            .CSSTableGenerator tr:first-child:hover td {
                background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
                background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
                background: -o-linear-gradient(top,#005fbf,003f7f);
                background-color: #005fbf;
            }

            .CSSTableGenerator tr:first-child td:first-child {
                border-width: 0px 0px 1px 0px;
            }

            .CSSTableGenerator tr:first-child td:last-child {
                border-width: 0px 0px 1px 1px;
            }

        .form-group {
            margin-bottom: 5px !important;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 24px;
            padding: 6px 10px;
            font-size: 11px;
            line-height: 1.428571429;
            color: #000;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
    </style>
    <script>

        $(document).ready(function () {
            $("#Quantity").keyup(function () {
                var x = $("#Rate").val();
                var y = $("#Quantity").val();
                var z = parseInt(x) * parseInt(y);
                $("#Amount").val(parseInt(z));
            });
        });
        $(document).ready(function () {
            $("#DiscountAmount").keyup(function () {
                var a = $("#TotalAmount").val();
                var b = $("#VatAmount").val();
                var vat = parseFloat(a) * parseFloat(b / 100);
                var c = $("#DiscountAmount").val();
                var discount = parseFloat(a) * parseFloat(c / 100);
                var grandTotal = parseFloat(a) + parseFloat(vat) - parseFloat(discount);
                $("#GrandTotalAmount").val(parseFloat(grandTotal));

            });

        });
        $(document).ready(function () {
            $("#PayAmount").keyup(function () {
                var gt = $("#GrandTotalAmount").val();
                var pay = $("#PayAmount").val();
                var fn = parseInt(gt) - parseInt(pay);
                $("#DueAmount").val(parseFloat(fn));
            });
        });

        var i = 0;
        var itemfound = false;
        var SaleItems = [];
        var MedicinePurchaseVoucherNo = 0;
        $(document).ready(function () {
            $('#add').click(function () {
                if (($('#MediInfoID').val() == '')) {
                    alert('Select Medicine Name');
                }
                else if (($('#Rate').val() == '')) {
                    alert('Select Rate');
                }
                else if (($('#Quantity').val() == '')) {
                    alert('Quantity is required');
                }                   
                else if (($('#Amount').val() == '')) {
                    alert('Select Amount');
                }
                else {
                    SaleItems.push({
                        MediInfoID: $("#MediInfoID").val(),
                        Rate: $("#Rate").val(),
                        Quantity: $("#Quantity").val(),
                        Amount: $("#Amount").val()

                    });
                    GeneratedItemTable();
                }
            });

            //Save button click function
            $('#btnSave').click(function () {
                var isAllValid = true;

                if (SaleItems.length == 0) {
                    $('#SaleItems').html('<span style="color:red;">Please add sale items</span>');
                    isAllValid = false;
                }
                //..................copy.................
                if (parseFloat($("#PayAmount").val()) > parseFloat($("#GrandTotalAmount").val())) {
                    alert('Pay amount can not be large than grand total amount ');
                    return false;
                }
                //....................Copy End...........   
                if (($('#MediSupplyerID').val() == '')) {
                    alert('Select Medicine supployer Name');
                }

                else {
                    MedicinePurchaseVoucherNo: "@ViewBag.MedicinePurchaseVoucherNo";
                    $(this).val('Please wait...');
                    var data = {
                        MedicinePurchaseVoucherNo: "@ViewBag.MedicinePurchaseVoucherNo",
                        MediSupplyerID: $("#MediSupplyerID").val(),
                        PurchaseDate: $("#PurchaseDate").val(),
                        VoucharCopyImage: $("#VoucharCopyImage").val(),
                        GrandTotalAmount: $("#GrandTotalAmount").val(),
                        PayAmount: $("#PayAmount").val(),
                        DueAmount: $("#DueAmount").val(),
                        UserID: $("#UserID").val(),
                        ExperDate: $("#ExperDate").val(),
                        Remarks: $("#Remarks").val(),
                        EntryDate: $("#EntryDate").val(),
                        UpdateDate: $("#UpdateDate").val(),
                        tbl_IndorMedicinePurchaseDetails: SaleItems
                    }
                    $.ajax({
                        url: '../IndorMedicinePurchase/indorMedicinePurchaseProcess',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                //alert('Successfully done.');
                                alert('Successfully done. Your Voucher No ' + d.MedicinePurchaseVoucherNo);
                                SaleItems = [];
                                i = 0;
                                //$('#IndorBloodsalesVoucherNo').val('');
                                $('#MediSupplyerID').val('');
                                $('#PurchaseDate').val('');
                                $('#VoucharCopyImage').val('');
                                $('#GrandTotalAmount').val('');
                                $('#PayAmount').val('');
                                $('#GrandTotalAmount').val('');
                                $('#PayAmount').val('');
                                $('#DueAmount').val('');
                                $('#UserID').val('');
                                $('#ExperDate').val('');
                                $('#Remarks').val('');
                                $('#MedicinePurchaseVoucherNo').val(d.MedicinePurchaseVoucherNo);
                                var table = document.getElementById("dataTable");
                                table.innerHTML = "";
                                window.location.reload();
                            }
                            else {
                                alert('Failed');
                            }
                            $('#btnSave').val('Save');
                        },
                        error: function () {
                            alert('Error. Please try again.');
                            $('#btnSave').val('Add Create');
                        }
                    });
                }
            });

        });

        //Pop Item If Row is deleted
        function deleteRow(t) {
            var table = document.getElementById("dataTable");
            var row = t.parentNode.parentNode;
            var rowCount = table.rows.length;
            //.................copy start.............
            var x = parseInt($("#GrandTotalAmount").val());
            var y = parseInt(table.rows[row.rowIndex].cells[3].innerHTML);
            z = parseInt(x - y);
            $("#GrandTotalAmount").val(parseInt(z));
            //..............copy end.............
            SaleItems.pop({
                MediInfoID: table.rows[row.rowIndex].cells[0].innerHTML,
                Rate: table.rows[row.rowIndex].cells[1].innerHTML,
                Quantity: parseInt(table.rows[row.rowIndex].cells[2].innerHTML),
                Amount: table.rows[row.rowIndex].cells[3].innerHTML
            });
            document.getElementById("dataTable").deleteRow(row.rowIndex);
            i = i - 1;
            if (i == 0) {
                table.innerHTML = "";
            }
        }

        function GeneratedItemTable() {
            var table = document.getElementById("dataTable");
            if (i == 0) {
                table.innerHTML = '<tr><th>Medicine</th><th>Rate</th><th>Quantity</th><th>Amount</th><th>Action</th></tr>'
            }
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            //Check if part already Added
            for (var r = 1, n = table.rows.length; r < n; r++) {
                for (var c = 1, m = table.rows[r].cells.length; c < m; c++) {
                    if (table.rows[r].cells[c].innerHTML == $('#MediInfoID').find('option:selected').text()) {
                        alert('This Id already Added');
                        itemfound = true;
                        break;
                    }
                    else {
                        itemfound = false;
                        continue;
                    }
                }
            }

            if (itemfound == false) {

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);


                //cell1.innerHTML = $('#BloodId').find('option:selected').text().trim();
                cell1.innerHTML = $('#MediInfoID').find('option:selected').val().trim();
                cell2.innerHTML = $('#Rate').val().trim();
                cell3.innerHTML = $('#Quantity').val().trim();
                cell4.innerHTML = $('#Amount').val().trim();
                cell5.innerHTML = '<img src="~/Images/delete.png" alt="Delete" style="cursor:pointer" onclick="deleteRow( this)" style="font-family:Tahoma;font-size:13px ;font-weight:bold;width:56px;height:26px" />'
                i = i + 1;
            }
            var grand = 0;
            if ($("#GrandTotalAmount").val() != "") {
                var grand = $("#GrandTotalAmount").val();
            }
            all_total = parseInt(grand) + parseInt($("#Amount").val());
            $("#GrandTotalAmount").val(parseInt(all_total));
            $('#MediInfoID').val('');
            $('#Rate').val('');
            $('#Quantity').val('');
            $('#Amount').val('');
        }

    </script>
</head>
<body>
    <div>
        <div>
            <h2 style="text-align:center;color:#ff6a00">IndorMedicine Purchase</h2>
            <hr />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="MedicinePurchaseVoucherNo">InodorMedicinePurchaseNo</label>
                            <input type="text" class="form-control" id="MedicinePurchaseVoucherNo" readonly value="@ViewBag.MedicinePurchaseVoucherNo" />
                        </div>
                        <div class="form-group">
                            <label for="MedicineSupployeerName">Medicine Supplyer Name</label>
                            @Html.DropDownList("MediSupplyerID", (SelectList)ViewData["tbl_MedicineSupplierInfo"], "...Select MedicineSupployeerNameN...", new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="PurchaseDate">PurchaseDate</label>
                            <input type="text" class="form-control" id="PurchaseDate" />
                        </div>

                        @*<div class="form-group">
                                <label for="VoucharCopyImage">VoucharCopyImage</label>
                                <input type="text" class="form-control" id="VoucharCopyImage" />
                            </div>*@

                        <div class="form-group">
                            <label for="Medicine Name">Medicine Name</label>
                            @Html.DropDownList("MediInfoID", (SelectList)ViewData["tbl_MedicineInfo"], "...Select Medicine Name...", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Rate">Rate</label>
                            <input type="text" class="form-control" id="Rate" />
                        </div>
                        <div class="form-group">
                            <label for="Quantity">Quantity</label>
                            <input type="text" class="form-control" id="Quantity" />
                        </div>

                        <div class="form-group">
                            <div style="float:left;width:100%">
                                <label for="Amount">Amount</label>
                            </div>
                            <div style="float:left;width:38%">
                                <input type="text" class="form-control" id="Amount" onchange="grand();" />
                            </div>
                            <div style="float: left;width:38%;margin-left:10px;">
                                <input type="button" id="add" class="btn btn-success" value="Add">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="GrandTotalAmount">GrandTotalAmount</label>
                            <input type="text" class="form-control" id="GrandTotalAmount" />
                        </div>
                        <div class="form-group">
                            <label for="PayAmount">PayAmount</label>
                            <input type="text" class="form-control" id="PayAmount" />
                        </div>
                        <div class="form-group">
                            <label for="DueAmount">DueAmount</label>
                            <input type="text" class="form-control" id="DueAmount" />

                        </div>
                        @*<div class="form-group">
                            <label for="UserName">User Name</label>
                            @Html.DropDownList("UserID", (SelectList)ViewData["tbl_UserInfo"], "...Select userName...", new { @class = "form-control" })
                        </div>*@
                        <div class="form-group">
                            <label for="ExperDate">ExperDate</label>
                        
                            <input type="text" class="form-control" id="ExperDate" />
                        </div>
                        <div class="form-group">
                            <label for="Remarks">Remarks</label>
                            <input type="text" class="form-control" id="Remarks" />
                            @*<label for="Remarks">Remarks</label>
                                <textarea name="paddress" id="Remarks" cols="30" rows="1"></textarea>*@
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <input type="button" class="btn btn-primary" id="btnSave" value="Add Create" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                                @Html.ActionLink("Back To List", "IndorMedicinePurchaseList")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="SaleItems result_area">
                        <div class="CSSTableGenerator">
                            <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="../Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery.datetimepicker.full.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#PurchaseDate').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d'
        });
        $('#ExperDate').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d'
        });

    </script>

</body>
</html>
