@model WebApplication2.Models.ReferenceAllowanceModel
@{
    ViewBag.Title = "AllowancEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>

    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <style>
        .CSSTableGenerator {
            border: 1px solid #000000;
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .CSSTableGenerator table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
            }

            .CSSTableGenerator tr:last-child td:last-child {
                -moz-border-radius-bottomright: 0px;
                -webkit-border-bottom-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .CSSTableGenerator table tr:first-child td:first-child {
                -moz-border-radius-topleft: 0px;
                -webkit-border-top-left-radius: 0px;
                border-top-left-radius: 0px;
            }

            .CSSTableGenerator table tr:first-child td:last-child {
                -moz-border-radius-topright: 0px;
                -webkit-border-top-right-radius: 0px;
                border-top-right-radius: 0px;
            }

            .CSSTableGenerator tr:last-child td:first-child {
                -moz-border-radius-bottomleft: 0px;
                -webkit-border-bottom-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .CSSTableGenerator tr:hover td {
            }

            .CSSTableGenerator tr:nth-child(odd) {
                background-color: #aad4ff;
            }

            .CSSTableGenerator tr:nth-child(even) {
                background-color: #ffffff;
            }

            .CSSTableGenerator td {
                vertical-align: middle;
                border: 1px solid #000000;
                border-width: 0px 1px 1px 0px;
                text-align: center;
                padding: 2px;
                font-size: 10px;
                font-family: Arial;
                font-weight: normal;
                color: #000000;
            }

            .CSSTableGenerator tr:last-child td {
                border-width: 0px 1px 0px 0px;
            }

            .CSSTableGenerator tr td:last-child {
                border-width: 0px 0px 1px 0px;
            }

            .CSSTableGenerator tr:last-child td:last-child {
                border-width: 0px 0px 0px 0px;
            }

            .CSSTableGenerator tr:first-child td {
                background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
                background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
                background: -o-linear-gradient(top,#005fbf,003f7f);
                background-color: #005fbf;
                border: 0px solid #000000;
                text-align: center;
                border-width: 0px 0px 1px 1px;
                font-size: 11px;
                font-family: Arial;
                font-weight: bold;
                color: #ffffff;
            }

            .CSSTableGenerator tr:first-child:hover td {
                background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
                background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
                background: -o-linear-gradient(top,#005fbf,003f7f);
                background-color: #005fbf;
            }

            .CSSTableGenerator tr:first-child td:first-child {
                border-width: 0px 0px 1px 0px;
            }

            .CSSTableGenerator tr:first-child td:last-child {
                border-width: 0px 0px 1px 1px;
            }

        .form-group {
            margin-bottom: 5px !important;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 24px;
            padding: 6px 10px;
            font-size: 11px;
            line-height: 1.428571429;
            color: #000;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#AllowanceAmount").on('keyup', function () {
                var x = $("#AllowanceAmount").val();
                if (x == "" || x == null) {
                    x = 0;
                    var sum = parseInt($("#hidden_grandt").val()) - parseInt($("#hidden_amount").val()) + parseInt(x);
                    $("#GrandTotalAmount").val(parseInt(sum));
                } else {
                    var x = parseInt($("#AllowanceAmount").val());
                    var sum = parseInt($("#hidden_grandt").val()) - parseInt($("#hidden_amount").val()) + parseInt(x);
                    $("#GrandTotalAmount").val(sum);
                }
            });
        });
        $(document).ready(function () {

            //Save button click function
            $('#btnUpdate').click(function () {
                var AllowanceDetailId = $("#VocherDe_hiddenId").val();
                var AllowanceVocherNo = $("#AllowanceVocherNo").val();
                var StaffID = $("#StaffID").val();
                var AllowanceID = $("#AllowanceID").val();
                var AllowanceAmount = $("#AllowanceAmount").val();
                var GrandTotalAmount = $("#GrandTotalAmount").val();
                if ($('#VocherDe_hiddenId').val() == '' || $('#StaffID').val() == '' || $('#AllowanceID').val() == '' || $('#AllowanceAmount').val() == '' || $('#GrandTotalAmount').val() == '') {
                    alert('Staff Id, AllowanceID,AllowanceAmount,and Grand Total are required');
                }
                else {
                    var data = {
                        AllowanceVocherNo: AllowanceVocherNo,
                        StaffID: StaffID,
                        AllowanceID: AllowanceID,
                        GrandTotalAmount: GrandTotalAmount,
                        AllowanceDetailId: AllowanceDetailId,
                        AllowanceID: AllowanceID,
                        AllowanceAmount: AllowanceAmount
                    }

                    $.ajax({
                        url: '../Allowance/AllowanceUpdate',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            alert(d.message);
                            $('#VocherDe_hiddenId').val('');
                            $('#StaffID').val('');
                            $("#AllowanceID").val('Select');
                            $("#AllowanceAmount").val('');
                            $("#hidden_amount").val('');
                            $("#hidden_grandt").val('');
                            $('#GrandTotalAmount').val('');
                            $("#btnUpdate").hide();
                            window.location.reload();
                        },
                        error: function () {
                            alert('Error. Please try again.');
                        }
                    });
                }
            });
        });


        function Edit(id, value1, value2, value3, value4) {
            $("#VocherDe_hiddenId").val(id);
            $("#StaffID").val(value1);
            $("#AllowanceID option").each(function () {
                if ($(this).val() == value2) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#AllowanceAmount").val(value3);
            $("#GrandTotalAmount").val(value4);

            // calculate for grand total
            $("#hidden_amount").val(value3);
            $("#hidden_grandt").val(value4);

            $("#btnUpdate").show();
        }

        //function VoucherDelete(AllowanceVocherNo, id, AllowanceAmount)
        //{
        //    var AllowanceDetailId = id;
        //    var data = {
        //        AllowanceVocherNo: AllowanceVocherNo,
        //        AllowanceDetailId: AllowanceDetailId,
        //        GrandTotalAmount: AllowanceAmount
        //    }
        //    $.ajax({
        //        url: '../Allowance/AllowanceDelete',
        //        type: "POST",
        //        data: JSON.stringify(data),
        //        dataType: "JSON",
        //        contentType: "application/json",
        //        success: function (d) {
        //            alert(d.message);
        //            window.location.reload();
        //        },
        //        error: function () {
        //            alert('Error. Please try again.');
        //        }
        //    });
        //}
    </script>
</head>
<body>
    <div>
        <h4 style="text-align:center;color:#ff6a00">Edit Allowance</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="AllowanceVocherNo">AllowanceVocherNo</label>
                            <input type="text" class="form-control" id="AllowanceVocherNo" readonly value="@ViewBag.AllowanceVocherNo" />
                            <input type="hidden" class="form-control" id="VocherDe_hiddenId" />
                        </div>
                        <div class="form-group">
                            <label for="Blood Group">Employee Name</label>
                            @Html.DropDownList("StaffID", (SelectList)ViewData["tbl_staffInfo"], "...Select Employee...", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Blood Group">Allowanc Name</label>
                            @Html.DropDownList("AllowanceID", (SelectList)ViewData["tbl_AllowanceType"], "...Select Allowance Name...", new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            <label for="AllowanceAmount">AllowanceAmount</label>
                            <input type="text" class="form-control" id="AllowanceAmount" />
                            <input type="hidden" class="form-control" id="hidden_amount" />
                            <input type="hidden" class="form-control" id="hidden_grandt">
                        </div>
                        <div class="form-group">
                            <label for="GrandTotalAmount">Grand Total Amount</label>
                            <input type="text" class="form-control" id="GrandTotalAmount" readonly />
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <input type="button" class="btn btn-primary" id="btnUpdate" value="Update" style="display:none;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                                @Html.ActionLink("Back To List", "AllowanceList")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div id="SaleItems result_area">
                            <div class="CSSTableGenerator">
                                <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;">
                                    <tbody>
                                        <tr>
                                            <th>Allowance</th>
                                            <th>AllowanceAmount</th>
                                            <th>Action</th>
                                        </tr>
                                        @foreach (var item in Model.AllowanceDeltailsTbl)
                                    {
                                    <tr>
                                        <td>@item.AllowanceID</td>
                                        <td>@item.AllowanceAmount</td>

                                        <td>
                                            <input type="button" name="edit" value="Edit" onclick="Edit(@item.AllowanceDetailId,'@item.tbl_AllowanceVoucher.StaffID', @item.AllowanceID, @item.AllowanceAmount, @item.tbl_AllowanceVoucher.GrandTotalAmount);">
                                            @*&nbsp;
                                                <input type="button" name="delete" value="Delete" onclick="AllowanceDelete('@ViewBag.AllowanceVocherNo', @item.AllowanceDetailId, @item.AllowanceAmount);">*@
                                        </td>
                                    </tr>
                                    }
                                    </tbody>
                                </table>

                                <table id="dataTable1" class="gridtable" style="font-family:Tahoma;font-size:11px;"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
