@model WebApplication2.Models.AmbulanceSchedule

@{
    ViewBag.Title = "ambulanceSchedulesUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"> </script>
    <script>
        $(document).ready(function () {
            var x = "@this.Request.QueryString["ambinfid"]";
            $("#AmbID option").each(function () {
                if ($(this).val() == x) {
                    $(this).attr('selected', 'selected');
                }
            });
        });
    </script>

</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Ambulance Sechedule</h2>
        <hr />
        <h4 style="color:#ff6a00">@ViewBag.Messages</h4>
        @using (Html.BeginForm("ambulanceSchedulesUpdate", "AmbulanceSechedule", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(s => s.AmbID, "AmbPlateNo", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("AmbID", (SelectList)ViewData["tbl_AmbulanceInfo"], "...Select AmbPlateNo...", new { @class = "form-control", Required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(s => s.GoingTime, " GoingTime", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.GoingTime, new { id = "GoingTime", @class = "form-control", placeholder = "Input GoingTime", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.BackTime, " BackTime", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.BackTime, new { id = "BackTime", @class = "form-control", placeholder = "Input BackTime", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Date, " Date", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Date, new { id = "Date", @class = "form-control", placeholder = "Input Date", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.FreeOrBusy, " FreeOrBusy", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.RadioButtonFor(u => u.FreeOrBusy, "Free")
                                    @Html.Label("Free") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButtonFor(u => u.FreeOrBusy, "Busy")
                                    @Html.Label("Busy")
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Update" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-group btn-sm" style="color: #ff6a00;">
                                    @Html.ActionLink("Back To List", "ambulanceScheduleLists")
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div id="SaleItems result_area">
                                <div class="CSSTableGenerator">
                                    <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>
