@model WebApplication2.Models.tbl_Salary
@{
    ViewBag.Title = "addsalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    @*<script src="~/Scripts/jquery-ui.js"></script>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"> </script>
    <script>
        $(document).ready(function () {
            $("#AllowanceAmount").keyup(function () {
                var x = $("#BasicAmount").val();
                var y = $("#AllowanceAmount").val();
                var z = parseInt(x) + parseInt(y);
                $("#TotalAmount").val(parseInt(z));
            });
        });
        $(document).ready(function () {
            $("#DetuctionAmount").keyup(function () {
                var x = $("#TotalAmount").val();
                var y = $("#DetuctionAmount").val();
                var z = parseInt(x) - parseInt(y);
                $("#GrandTotalAmount").val(parseInt(z));
            });
        });

        function get_value(_this) {
            var staffid = $(_this).val();
            var data = {
                "StaffId": staffid
            }
            $.ajax({
                url: '/Salary/GetEmpInfo',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (d) {
                    $("#BasicAmount").val(d.basicSalary);
                    $("#Designation").val(d.designation);
                    $("#LoanAmount").val(d.loanamount);
                    //$("#LoanBack").val(d.loanBack);
                    $("#AdvanceAmount").val(d.advanceAmount);
                },
                error: function (d) {
                    //alert(d.message);
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <h2 style="text-align:center;color:#ff6a00">Salary</h2>
        <hr />
        @using (Html.BeginForm("addsalary", "Salary", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(s => s.StaffID, " Employee", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("StaffID", (SelectList)ViewData["tbl_staffInfo"], "[Select Employee]", new { Value = 0, id = "Name", @class = "DropDownList", @onchange = "get_value(this)", })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.BasicAmount, " BasicAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.BasicAmount, new { @class = "textbox", @placeholder = "Input BasicAmount", id = "BasicAmount" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Designation, " Designation", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Designation, new { @class = "textbox", @placeholder = "Input Designation", id = "Designation", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.AllowanceAmount, " AllowanceAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.AllowanceAmount, new { @class = "textbox", @placeholder = "Input AllowanceAmount", id = "AllowanceAmount" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.TotalAmount, " TotalAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.TotalAmount, new { @class = "textbox", @placeholder = "Input TotalAmount", id = "TotalAmount" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.DetuctionAmount, " DetuctionAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.DetuctionAmount, new { @class = "textbox", @placeholder = "Input DetuctionAmount", id = "DetuctionAmount" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.AdvanceAmount, " AdvanceAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.AdvanceAmount, new { @class = "textbox", @placeholder = "Input AdvanceAmount", id = "AdvanceAmount", @readonly = "readonly" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                    @Html.LabelFor(s => s.AdvanceBack, " AdvanceBack", new { @class = "control-label col-sm-2" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.AdvanceBack, new { @class = "textbox", @placeholder = "Input AdvanceBack", id = "AdvanceBack" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                @Html.LabelFor(s => s.LoanAmount, " LoanAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.LoanAmount, new { @class = "textbox", @placeholder = "Input LoanAmount", @readonly = "readonly", id = "LoanAmount" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                    @Html.LabelFor(s => s.LoanBack, " LoanBack", new { @class = "control-label col-sm-2" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.LoanBack, new { @class = "textbox", @placeholder = "Input LoanBack", id = "LoanBack" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                @Html.LabelFor(s => s.GrandTotalAmount, " GrandTotalAmount", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.GrandTotalAmount, new { @class = "textbox", @placeholder = "Input GrandTotalAmount", id = "GrandTotalAmount" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(s => s.Remarks, " Remarks", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "textbox", @placeholder = "Input Remarks", id = "Remarks" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(s => s.UserInfoID, " UserEmployee", new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownList("UserInfoID", (SelectList)ViewData["tbl_UserInfo"], "[Select UserEmployee]", new { Value = 0, id = "UserName", @class = "DropDownList" })
                                </div>
                            </div>*@
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Add To Create" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-group btn-lg" style="color: #ff6a00;">
                                    @Html.ActionLink("Back To List", "salaryList")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="SaleItems result_area">
                            <div class="CSSTableGenerator">
                                <table id="dataTable" class="gridtable" style="font-family:Tahoma;font-size:11px ;"></table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        }
    </div>
</body>
</html>





