@model WebApplication2.Models.tbl_Salary
@using PagedList.Mvc
@{
    ViewBag.Title = "salaryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function DeleteSalary(pid, that) {
            if (confirm("Do you want to delete the Row: " + pid)) {
                $.ajax({
                    type: "POST",
                    url: '/Salary/SalaryDelete',
                    data: { id: pid },
                    dataType: "json",
                    success: function () {
                        alert('Deleted Successfully');
                        location = location.href;
                        location.reload();
                    }
                });
            }
        }
    </script>
</head>
<body>
    <h2 style="text-align:center;color:#ff6a00;">Salary List</h2>
    <hr />
    <div class="form-group">
        <div class="btn btn-group btn-lg" style="color: #ff6a00;">
            @Html.ActionLink("Add To Create", "addsalary")
        </div>
    </div>
    @using (Html.BeginForm("salaryList", "Salary", FormMethod.Post))
    {
        <input type="text" name="keyword" />
        <input type="submit" value="Search" name="Submit">
    }
    <br />
    <table id="myDataTable" class="gridtable" style=" width:100%; font-family:Tahoma;font-size:11px ;">
        <thead>
            <tr>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">Employee</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">BasicAmount</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">Designation</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">AllowanceAmount</th>

                <th style="border-right-color: ActiveBorder; background-color: #dedede">TotalAmount</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">DetuctionAmount</th>
                <th style="border-right-color:ActiveBorder;background-color:#dedede">AdvanceAmount</th>
                @*<th style="border-right-color:ActiveBorder;background-color:#dedede">AdvanceBack</th>*@
                <th style="border-right-color:ActiveBorder;background-color:#dedede">LoanAmount</th>
                @*<th style="border-right-color: ActiveBorder; background-color: #dedede">LoanBack</th>*@
                <th style="border-right-color: ActiveBorder; background-color: #dedede">GrandTotalAmount</th>
                <th style="border-right-color: ActiveBorder; background-color:#ffd800;">Action</th>
            </tr>
        </thead>
        @foreach (var item in Model.SalaryListResults)
        {
            <tbody>
                <tr>
                    <td><span class="EmployeeName">@item.tbl_staffInfo.Name</span></td>
                    <td>@item.BasicAmount</td>
                    <td>@item.Designation</td>
                    <td>@item.AllowanceAmount</td>

                    <td>@item.TotalAmount</td>
                    <td>@item.DetuctionAmount</td>
                    <td>@item.AdvanceAmount</td>
                    @*<td>@item.AdvanceBack</td>*@
                    <td>@item.LoanAmount</td>
                    @*<td>@item.LoanBack</td>*@
                    <td>@item.GrandTotalAmount</td>
                    <td>
                        @Html.ActionLink("Edit", "salaryUpdate", new { id = item.SalaryID, userid = @item.tbl_staffInfo.StaffID })
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @*<img src="~/Images/delete.png" alt="Delete" onclick="DeleteSalary(@item.SalaryID)" />*@
                        <img src="~/Images/delete.png" alt="Delete" style="cursor:pointer" onclick="DeleteSalary(@item.SalaryID)" />
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <div id="listpage" style="padding-left: 22px; padding-top:10px; width: 85%; float: left;">
        @Html.PagedListPager(Model.SalaryListResults, page => Url.Action("salaryList", new RouteValueDictionary()
     {
         { "Page", page }
     }),
    PagedListRenderOptions.PageNumbersOnly)
    </div>

</body>
</html>





